.product_jumbotron {
  text-align: center;
  color: white;
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 57px;
      letter-spacing: 0.05em;
      margin-top: -3px;
    }

    img {
      margin-top: 160px;
      margin-bottom: 14px;
      margin-right: 145px;
    }
}