.product_card {
  background-color: #ffffff;
  width: 279.46px;
  height: 419.47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-right: 40px;
  text-align: center;
  margin-bottom: 55px;

    .product_upper {
      display: flex;
      justify-content: space-between;
      height: 283px;
      padding: 10px;
      color: white;
        .sale {
          width: 65px;
          height: 31px;
          background: #AB7915;
          border-radius: 20px;
            p {
              margin: 6px 0;
            }
        }

        .product_heart {
          background-color: rgba(171, 121, 21, 0.3);
          width: 60px;
          height: 60px;
          border-radius: 50%;
            img {
              margin-top: 15px;
            }
        }
    }

    .product_bottom {
      padding: 20px; 
      .product_text {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
      }
  
      .product_price {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
      }
    }
}