.product_card {
  background-color: #ffffff;
  width: 279.46px;
  height: 393.47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 20px 30px 45px 30px;
  margin-right: 40px;
  text-align: center;
  margin-bottom: 55px;

    .product_upper {
      display: flex;
      justify-content: space-between;
      color: white;
        .sale {
          width: 65px;
          height: 31px;
          background: #AB7915;
          border-radius: 20px;
            p {
              margin: 6px 0;
            }
        }

        .product_heart {
          background-color: rgba(171, 121, 21, 0.3);
          width: 60px;
          height: 60px;
          border-radius: 50%;
            img {
              margin-top: 15px;
            }
        }
    }

    .product_text {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.05em;
      color: #000000;
    }

    .product_price {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.05em;
      color: #000000;
    }
}