.drawer__container {
  height: 110vh;
  width: 490px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  transform: translate(-490px);
  position: absolute;
    .drawer__nav--parent {
      display: flex;
      height: 72.51px;
      padding-right: 24.94px;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.15);
            .drawer__nav--tabs {
              display: flex;
              align-items: center;
              width: 412px;
              padding-left: 5px;
              justify-content: space-around;
              padding: 10px 10px;
                .drawer__nav--item {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding-left: 15px;
                  padding-right: 15px;
                  font-family: Gilroy;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 21px;
                  letter-spacing: 0.05em;
                  margin-top: 16px;
                    img {
                      margin-right: 10px;
                    }
                }

                .active_tab {
                  border-bottom: 1px solid #AB7915;
                }

                .inactive_tab {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 21px;
                  letter-spacing: 0.05em;
                  color: #000000;
                  opacity: 0.3;
                }
            }

            .drawer__nav--close {
              display: flex;
                .close--icon {
                  cursor: pointer;
                  padding-left: 30px;
                }
            }
    }

    .drawer__summary--card {
      padding: 15.49px 27px 2px 27px;
      overflow-x: auto;
      height: 56vh;
    }

    .drawer__coupon--form {
      width: 430px;
      margin: 20px 27px 27px 27px;
      height: 45px;
      display: flex;
      justify-content: space-between;
        input {
          outline: none;
          border: 1px solid rgba(0, 0, 0, 0.15);
          box-sizing: border-box;
          border-radius: 20px;
          width: 300px;
          padding: 13px 18px;
          font-family: Gilroy;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.05em;
        }

        input::-webkit-input-placeholder {
          color: rgba(0, 0, 0, 0.15);
        }

        input::-moz-placeholder {
          color: rgba(0, 0, 0, 0.15);
        }

        input::-ms-input-placeholder {
          color: rgba(0, 0, 0, 0.15);
        }

        input::-o-input-placeholder {
          color: rgba(0, 0, 0, 0.15);
        }

        .drawer__coupon--button {
          background: rgba(0, 0, 0, 0.14);
          border-radius: 20px;
          outline: none;
          border: none;
          width: 120px;
          cursor: pointer;
            p {
              font-family: Gilroy;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.05em;
              color: #FFFFFF;
              text-align: center;
              margin-top: 15px;
            }
        }
    }

    .drawer__bottom-line {
      border: 0.8px solid rgba(0, 0, 0, 0.15);
    }

    .drawer__process-order {
      padding: 0.2px 30px 30px 30px;
      .drawer__total-price {
        display: flex;
        justify-content: space-between;
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
      }

      .drawer__vat {
        font-family: Gilroy;
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
        color: rgba(0, 0, 0, 0.37);
        margin-top: -10px;
      }

      .drawer__process-button {
        width: 434px;
        height: 55px;
        background: #AB7915;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        cursor: pointer;
          p {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
          }
      }
    }
}
.drawer__container--isOpen {
  transform: translate(0);
}