body{
  margin: 0;
  font-family: 'Gilroy', 'sans-serif';
  width: 100%;
}

.parent_header {
  display: flex;
  align-items: center;
  align-content: space-between;
  position: sticky;
  justify-content: space-between;
  padding: 0.3rem;

  .header_circles {
    margin-left: 100px;
    margin-top: 13px;
  }

  .header_logo {
    margin-top: 10px;
    margin-left: 100px;
  }

    .header_icons {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 100px;

      img {
        background-size: contain;
        cursor: pointer;
      }
    }
}