.parent_jumbotron {
  display: flex;
  background-image: url('../res/jumbotron.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;

  .jumbotron_content {
    color: white;
    text-align: left;
    padding-top: 13%;
    margin-left: 109px;
    margin-top: -20px;

    .jumbotron_frontal {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }

    .jumbotron_free {
      font-style: normal;
      font-weight: 600;
      font-size: 68px;
      line-height: 81px;
      letter-spacing: 0.05em;
      margin-left: 25px;
      margin-top: 60px;
    }

    .jumbotron_button {
      margin-right: -20px;
    }
  }
}