.parent_socials {
  background-color: white;
  padding-top: 86px;
    hr {
      width: 134px;
      margin-left: 493px;
    }
    .social_follow {
      margin-left: 493px;
      margin-top: 15px;
      width: 460px;
      height: 45px;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 45px;
      letter-spacing: 0.05em;
    }

    .social_images {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 30px;
    }

    .social_medias {
      display: flex;
      align-content: center;
      margin-top: 50px;
      margin-left: 600px;
       img {
         padding-right: 77px;
         color: #010002;
       }
    }

    .social_shipping {
      display: flex;
      margin-top: 80px;
      justify-content: space-around;
      text-align: center;
      align-content: center;

        .boxes {
          width: 420px;

          .return_header {
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0.05em;
            color: #000000;
          }

          .sub_header {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: rgba(0, 0, 0, 0.37);
          }
        }
    }

    .social_newsletter {
      text-align: center;
      margin-top: 70px;
        p {
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 33px;
          letter-spacing: 0.05em;
          color: #000000;
        }

        .subscription {
          margin-top: 50px;
          display: flex;
          justify-content: center;
          margin-bottom: 90px;
          input {
            width: 574px;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 15px;
            outline: none;
          }

          button {
            outline: none;
            border: none;
            width: 137px;
            padding: 12px;
            margin-left: 19px;
            background: #AB7915;
            border-radius: 10px;
            color: white;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
          }
        }
    }
}