.parent_main__details {
  display: flex;
  background-color: rgba(255, 255, 229, 0.3);
  justify-content: space-between;
  margin: 0;
    .gallery {
      .sub_main {
        width: 723px;
        margin-left: 3px;
      }
      .sub_photos {
        display: flex;
        justify-items: space-between;
        img {
          margin-left: 15px;
        }
      }
    }

    .main_description {
      padding-left: 115px;
      padding-right: 67px;
      margin-top: 50px;

      .main_description__reviews {
        display: flex;
        justify-content: space-between;
        width: 280px;
        align-items: center;
          img {
            margin-left: 4px;
          }

          p {
            font-family: Gilroy;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.05em;
            text-decoration: underline;
          }
      }

      .main_description__collection {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
      }

      .main_description__title {
        display: flex;
        justify-content: space-between;
          div {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.05em;
          }
          img {
            margin-bottom: 30px;
          }
      }

      .main_description__price {
        font-weight: 500;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.05em;
        color: rgba(0, 0, 0, 0.37);
      }

      .main_description__body {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 180.2%;
        letter-spacing: 0.05em;
        color: rgba(0, 0, 0, 0.37);
          p {
            width: 530px;
          }
      }

      .main_description__guide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        img {
          margin-bottom: 2px;
          margin-left: 10px;
        }
          p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.05em;
            cursor: pointer;
          }
      }

      .main_description__dropdown {
        width: 500px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }

      .main_description__cart {
        display: flex;
        margin-top: 30px;
          button {
            width: 370px;
            margin-left: 30px;
            background: #AB7915;
            border-radius: 20px;
            border: none;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            outline: none;
          }
      }

      .main_description__quality {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
          .sub_quality {
            display: flex;
            align-content: center;
              img {
                margin-right: 10px;
              }
          }
      }
    }
}

.parent_product__details {
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
    .sub_product__details {
      width: 569px;
      text-align: left;
        p {
          font-family: Gilroy;
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 33px;
          letter-spacing: 0.05em;
        }

        div {
          font-family: Gilroy;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 180.2%;
          letter-spacing: 0.05em;
        }
    }

    .sub_product__specifications {
      width: 492px;
        p {
          font-family: Gilroy;
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 33px;
          letter-spacing: 0.05em;
        }
        ul li {
          font-family: Gilroy;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 180.2%;
          letter-spacing: 0.05em;
          margin-left: -28px;
        }
    }
}

.review_layout {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  padding: 0;

  .main_review__layouts {
    display: flex;
    width: 80%;
    align-content: center;
  }

  .review_header {
    padding-bottom: 10px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.05em;
  }
}

.similar_products {
  margin-top: 100px;
    .similar_products__header {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 45px;
      letter-spacing: 0.05em;
      margin-left: 80px;
    }

    .similar_products__layout {
      width: 80%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-left: 80px;
    }
}